@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Cinzel:wght@500;800&family=Ysabeau+SC:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  min-height: 120vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/9db4a880-3034-4e98-bdea-5d983e86bf52/b5953637-091d-4e02-9754-2bfadc8a8f7c/IN-en-20230925-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background: -moz-linear-gradient();
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid rgb(66, 65, 65);
}
.nav {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav img {
  width: 15%;
  margin-right: 200px;
}
.middle {
  width: 70%;
  color: white;
  position: absolute;
  top: 35%;
  left: 15%;
  text-align-last: center;
}
.middle h1 {
  font-size: 3.5vw;
  font-weight: 900;
  letter-spacing: -0.2vh;
}
.middle p {
  font-size: 4vh;
  line-height: 8vh;
  letter-spacing: -0.2vh;
}
.search {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20%;
  margin-top: 2%;
}
.search input {
  padding: 20px 80px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: #3d3c3c;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3vh;
}
.search button {
  padding: 15px 60px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: #eb1818;
  color: white;
  font-size: 4vh;
  font-weight: 600;
  letter-spacing: -0.3vh;
}
.page2 {
  width: 100%;
  height: 80%;
  color: white;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #121111,
    #000000
  ), url("https://images.unsplash.com/photo-1611702700114-ac96de0952e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1965&q=80");

  position: relative;
  border-bottom: 4px solid rgb(163, 159, 159);
}
.video {
  width: 70%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 30px;
}

.left h1 {
  padding-bottom: 5%;
  font-size: 4vw;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-weight: 1200;
  letter-spacing: -0.2vh;
  word-spacing: -0.3vh;
}
.left p {
  font-size: 1.8vw;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  letter-spacing: -0.2vh;
  word-spacing: -0.3vh;
  line-height: 6vh;
}
.head select{
    padding: 5px 25px;
    color: white;
    font-weight: 800;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #131212,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #1c1c1c,
      #000000
    );
    margin-left: 100px;
    border-radius: 5px;
}
.head button{
    padding: 8px 25px;
    background: #e01818;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    margin-left: 20px;
    font-size: 2.5vh;
}
.page3 {
    width: 100%;
    height: 80%;
    color: white;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #191818,
      #000000
    ), url("https://images.unsplash.com/photo-1611702700114-ac96de0952e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1965&q=80");
  
    position: relative;
    border-bottom: 4px solid rgb(206, 197, 197);
  }
  .enjoy {
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 80px;
  }
  .down{
    font-size: 4vh;
    word-spacing: 0.2vh;
    letter-spacing: -0.1vh;
  }
  .down h1{
    line-height: 9vh;
  }
  .page4{
    width: 100%;
    height: 80%;
    color: white;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #121111,
      #000000
    ), url("https://images.unsplash.com/photo-1611702700114-ac96de0952e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1965&q=80");
  
    position: relative;
    border-bottom: 4px solid rgb(206, 197, 197);
  }
  .page4 img{
    width: 80%;
    height: 100%;
    border-radius: 10px;
  }
  .child {
    width: 70%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 80px;
  }
  .child h1{
    font-size: 9vh;
    word-spacing: 0.2vh;
    letter-spacing: -0.1vh;
    padding-bottom: 10px;
  }
  .page5{
    width: 100%;
    height: 80%;
    color: white;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #1f1e1e,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #171717,
      #000000
    ), url("https://images.unsplash.com/photo-1611702700114-ac96de0952e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1965&q=80");
  
    position: relative;
    border-bottom: 4px solid rgb(206, 197, 197);
  }
  .page5 p{
    padding-top:15px;
  }
  .footer{
    width: 100%;
    height: 80%;
    color: white;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #212121,
      #000000
    ), url("https://images.unsplash.com/photo-1611702700114-ac96de0952e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1965&q=80");
  
    position: relative;
    border-bottom: 4px solid rgb(206, 197, 197);

  }
  .play{
   
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .footer a{
    display: block;
    color: white;
    line-height: 5vh;
  }
  .footer h4{

    padding: 5% 12%;
  }